.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../../public/background4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.matchInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2rem;
}

.infoText {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}

.chatBox {
  max-width: 350px;
  max-height: 600px;
  background-color: #a6cbf5;
  border-radius: 1rem;
  position: relative;
}

.chatContent {
  min-height: 600px;
  max-height: 600px;
  overflow-y: scroll;
  padding-bottom: 4rem;
}

.chat {
  margin: 0.5rem 0 0.5rem 0.3rem;
  border-radius: 1rem;
  max-width: 80%;
  padding: 1rem;
  background-color: rgb(255 255 255);
}

.chatUser {
  margin: 0.5rem 0 0.5rem 0.3rem;
  border-radius: 1rem;
  max-width: 80%;
  padding: 1rem;
  background-color: rgb(255 255 255);
}

.rightAl {
  display: flex;
  justify-content: flex-end;
}

.inputBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
}

.chatInput {
  width: 100%;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}
